/* https://coolors.co/2a4f53-799c8a-0bad44-94e7a6-c7e9c0-179cf0-de5e52-ba9746-ffd15d-fffef0 */
:root {
  --dark-slate: #2A4F53;
  --morning: #799C8A;
  --green: #0BAD44;
  --granny-apple: #94E7A6;
  --tea: #C7E9C0;
  --blue: #179CF0;
  --red: #DE5E52;
  --yellow: #FFD15D;
  --brown: #BA9746;
  --ivory: #FFFEF0;
  --white: #FFFFFF;
}