@import url('colors.css');
@import url('sizes.css');

.header {
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
}

.headerContent {
  width: var(--content-width);
  max-width: 90vw;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.profileInfo {
  transform: translateY(-2rem);
}