@import url('colors.css');
@import url('sizes.css');

.header {
  background-color: var(--yellow);
  justify-content: center;
  min-height: 4rem;
}

.headerContent {
  width: var(--content-width);
  max-width: 90vw;
  justify-content: space-between;
  align-items: center;
}