@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu/Ubuntu-Medium.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu/Ubuntu-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Satisfy';
  src: url('./fonts/Satisfy/Satisfy-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LibreFranklin';
  src: url('./fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@import url('colors.css');
:root {
  --bdr-rad-event: 1.5rem;
  --bdr-rad-button: 0.5rem;
  --avatar-size: 6rem;
  --content-width: 36rem;
}

* {
  font-family: 'Ubuntu', sans-serif;
  line-height: 150%;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Satisfy', sans-serif;
  color: var(--brown);
}

h3 {
  color: var(--dark-slate);
  font-size: 150%;
  font-weight: bold;
  margin: 0;
}

h4 {
  color: var(--dark-slate);
  font-size: 1rem;
  font-weight: lighter;
}

p {
  font-family: 'LibreFranklin';
  color: var(--dark-slate);
}


/* UTILITY CLASSES */

.brown {
  color: var(--brown);
}

.content {
  max-width: var(--content-width);
}

.fullWidth {
  width: 100%;
}


/* FEED */

.feedHeader {
  max-width: var(--content-width);
  width: 100%;
  background-color: var(--yellow);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.upcomingBanner {
  background-color: var(--granny-apple);
}

.upcomingBanner > * {
  margin: 0.5rem;
}

.upcomingBanner svg {
  margin-left: 1rem;
  fill: var(--green);
}

.addPost {
  width: 100%;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background-color: var(--white);
}


/* PROFILE PAGE */

.profileHeader {
  height: 10rem;
  margin-bottom: 10rem;
  background-color: var(--yellow);
}


/* EVENTS POSTS */

.eventPost {
  margin: 2rem;
}

.eventHeader {
  background-color: var(--yellow);
  padding: 2rem;
  border-top-left-radius: var(--bdr-rad-event);
  border-top-right-radius: var(--bdr-rad-event);
}

.eventHeader > .avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  margin-right: 1rem;
  background-color: var(--ivory);
  color: var(--dark-slate);
}

.eventPost > .description {
  background-color: var(--ivory);
  padding: 1rem 2rem;
}

.eventActions {
  padding: 2rem;
  background-color: var(--tea);
  border-bottom-left-radius: var(--bdr-rad-event);
  border-bottom-right-radius: var(--bdr-rad-event);
}

.eventActions button {
  width: 100%;
  padding: 1rem;
  background-color: var(--granny-apple);
  color: var(--green);
  border-radius: var(--bdr-rad-button);
}

.progressCounter {
  font-size: 1rem;
  margin: 0.5rem 2rem;
  color: var(--ivory);
  position: absolute;
  z-index: 1;
}