@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'Satisfy';
  src: url('./fonts/Satisfy/Satisfy-Regular.ttf');
}
@font-face {
  font-family: 'LibreFranklin';
  src: url('./fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf');
}