@import url('colors.css');
@import url('sizes.css');

.profileNavIcon {
  width: var(--big-icon-size);
  height: var(--big-icon-size);
}

.buttonContainer {
  width: 100%;
  max-width: var(--content-width);
}

.profileAvatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
}

.profileInfo {
  transform: translateY(-2rem);
}